body{
	background-color: #FFE8E8;
}

a:hover{
	color: brown;
}

h1{
font-weight: bolder;
font-family: Georgia;
font-style: italic;
}

h4{
	color: maroon;
	text-shadow: brown;
}

h3{
color: darkred;
text-transform: capitalize;
text-shadow: black;
text-decoration: underline dashed;
}

h5{
	font-weight: italic;
	color: brown;
}

.p1{
	color:  saddlebrown ;
	background-color: #FFDCDC;
}

.p2{
	color: saddlebrown;
	background-color: #FFB4B4;
}

.p3{
	color:  saddlebrown ;
	background-color: #FF9292;
}
table{
	margin-left: 100px;
}
th{
	color: antiquewhite;
	background-color: brown;
}

td{
	background-color: antiquewhite;
	color: maroon;
}

